@font-face {
  font-family: 'LAMANRegular';
  src: url('https://cdn.jsdelivr.net/gh/hovaulysse/CMNL/LAMANRegular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/hovaulysse/CMNL/LAMANRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
