@font-face {
  font-family: 'LAMANRegular';
  src: url('https://github.com/hovaulysse/CMNL/raw/main/LAMANRegular.woff2') format('woff2'),
       url('https://github.com/hovaulysse/CMNL/raw/main/LAMANRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
